<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Nunito:wght@300&family=Poppins:ital,wght@0,300;0,400;0,500;1,200&display=swap" rel="stylesheet">
    <link rel="shortcut icon" href="static/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href= "{{url_for('static',filename='styles.css')}}">
    <title>Predictify | Predict Health Insurance</title>
</head>
<body>
    <div class="container">
        <h1>Health Insurance Cost Predictor</h1>
        <p>Enter the following details to predict your health insurance cost in USD</p>
        <form class="form" action="/result" method="POST">
                <div class="row">
                    <div class="column">
                        <label for="age">Age</label>
                        <input type="number" name="age" id="age" min=1 placeholder="Enter your age" required>
                    </div>
                    <div class="column">
                        <label for="gender">Gender</label>
                        <input list="gender-list" name="gender" id="gender" placeholder="Choose from below">
                        <datalist id="gender-list">
                            <option value="male"></option>
                            <option value="female"></option>
                            <option value="others"></option>
                        </datalist>
                    </div>
                </div>
                <div class="row">
                    <div class="column">
                        <label for="bmi">BMI</label>
                        <input type="number" name="bmi" id="bmi" step="0.01" min=0 placeholder="Enter your BMI(Eg 18.5)" required>
                    </div>
                    <div class="column">
                        <label for="children">Children</label>
                        <input type="number" name="children" id="children" min=0 placeholder="Enter number of Children" required>
                    </div>
                </div>
                <div class="row">
                    <div class="column">
                        <label for="smoker">Smoker</label>
                        <input list="smoker-list" name="smoker" id="smoker" placeholder="Choose from below">
                        <datalist id="smoker-list">
                            <option value="yes"></option>
                            <option value="no"></option>
                        </datalist>
                    </div>
                    <div class="column">
                        <label for="region">Region</label>
                        <input list="region-list" name="region" id="region" placeholder="Choose from below">
                        <datalist id="region-list">
                            <option value="northeast"></option>
                            <option value="northwest"></option>
                            <option value="southeast"></option>
                            <option value="southwest"></option>
                        </datalist>
                    </div>
                </div>
                <div class="button">
                    <input type="submit" id="predict" value="Predict">
                </div>
        </form>
        
        <div class="cost-value">
            {% if cost %}
            <h3>{{cost}} USD</h3>
            {% endif %}
        </div>
    </div>
</body>
</html>
